.microphone-container {
	width: 100%;
	height: 20%;
	position: fixed;
	top: 60%;
	opacity: 0.8;
	text-align: center;
	color: grey;
}
.message-container {
	position: fixed;
	height: 20px;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	text-align: center;
	color: green;
	background-color: #292988;
}
.microphone-icon {
	font-size: 66px;
	font-weight: normal;
	color: #a82727;
}
.status-container {
	margin-top: 80%;
}
.trans-container {
	position: fixed;
	width: 300px;
	height: 80%;
	left: 50%;
	top: 40px;
	margin-left: -150px;
}
.trans {
	font-size: 32px;
	font-weight: normal;
	color: #222222;
}
.trans-partial {
	font-size: 32px;
	font-weight: normal;
	color: #aaaaaa;
}
.controls {
	display: block;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0;
}
#log {
	font-size: 80%
}
#statusBar {
	font-family: monospace;
	color: #9F000F;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
}
#serverStatusBar {
	position: fixed;
	bottom: 0.4em;
	right: 0.4em;
	top: auto;
	left: auto;
	font-family: monospace;
	padding: 0.2em 0.2em 0.2em 0.2em;
}
.highlight {
	color: red;
}
ins {
	background-color: #c6ffc6;
	text-decoration: none;
}

del {
	background-color: #ffc6c6;
}
.diff {
	font-family: monospace;
}


.buttonsContainer {
	display: table;
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: rgba(128,128,200,0.7);
}

.buttons {
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em;
}

button {
	width: 7em;
}
